.statisticsPage {
    display: flex;
    justify-content: space-between;
    align-items: top;
    border-top: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    width: auto;
}

@media screen and (max-width: 960px) {
    .statisticsPage {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100%;
        height: auto;
        overflow-x: scroll;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        margin: 0;
        gap: 3em;
    }
}