footer {
    width: 100%;
    overflow: hidden;
    padding: 2em 1em;

    .footerLogoPart1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 1em;

        .logo1,
        .logo2,
        .logo3,
        .logo4 {
            max-width: 160px;
        }
    }
    .footerLogoPart2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 1em;

        .logo5,
        .logo6,
        .logo7 {
            max-width: 160px;
        }
    }
}

@media screen and (max-width: 400px) {
    footer {
        .footerLogoPart1,
        .footerLogoPart2 {
            gap: .5em;

            .logo1,
            .logo2,
            .logo3,
            .logo4,
            .logo5,
            .logo6,
            .logo7 {
                max-width: 120px;
            }
        }
    }
}