footer {
    width: 100%;
    overflow: hidden;
    padding: 2em 1em;

    .footerLogoPart1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .logo1,
        .logo2,
        .logo3,
        .logo4 {
            max-width: 200px;
        }
    }
    .footerLogoPart2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
}