footer {
    width: 100%;
    overflow: hidden;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1em;

    .footerLogoPart1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 1.5em;

        a {
            transition: .3s;
            &:hover {
                transform: scale(1.05);
            }
        }

        .logo1,
        .logo2,
        .logo3,
        .logo4 {
            max-width: 160px;
        }
    }
    .footerLogoPart2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        gap: 1.5em;

        .logo5,
        .logo6,
        .logo7 {
            max-width: 160px;
        }
    }
}

@media screen and (max-width: 400px) {
    footer {
        .footerLogoPart1,
        .footerLogoPart2 {
            gap: 1em;

            .logo1,
            .logo2,
            .logo3,
            .logo4,
            .logo5,
            .logo6,
            .logo7 {
                max-width: 100px;
            }
        }
    }
}