.navigationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    padding: 0 1em;

    z-index: 1000;
    position: sticky;
    top: 0;

    .buttonShop {
        display: flex;
        align-items: center;
        gap: 1em;
    }
}

@media screen and (max-width: 960px) {
    .navigationBar {
        padding: 0 1em;

        .buttonShop {
            gap: .5em;
            font-size: .7em;
        }
    }
}