.showPage {
    height: 100vh;

    margin-bottom: 8em;

    .showPage_view {
        width: 100%;
        height: 70vh;
        max-height: 70vh;
        background: var(--light-gray);
        overflow: hidden;

        .image-cover-show {
            width: 100%;
            height: 150%;
            object-fit: cover;
            object-position: center;
            transition: .3s;
        }
    }
    .showPage_information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        padding: 2em 1em 4em 1em;

        .showPage_information_Action {

            div {
                .title {
                    font-size: 1em;
                    font-weight: 600;
                    color: var(--txt-primary);
                    margin-bottom: .5em;
                }
                .description {
                    font-size: .9em;
                    color: var(--txt-secondary);
                    margin-bottom: 2em;
                }
            }
        }
        .showPage_information_Content {
            max-width: 600px;
        }
    }
}

@media screen and (max-width: 960px) {
    .showPage {
        height: auto;
        margin-bottom: 0;

        .showPage_view {
            height: 640px;
        }
        .showPage_information {
            display: flex;
            flex-direction: column-reverse;

            .showPage_information_Action {
                margin-top: 2em;
            }
        }
    }
}