.showPage {
    height: 100vh;
    border-bottom: 1px solid #BABABA;

    .showPage_view {
        width: 100%;
        height: 70%;
        background: var(--light-gray);
    }
    .showPage_information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        padding: 2em 1em 4em 1em;

        .showPage_information_Action {

            div {
                .title {
                    font-size: 1em;
                    font-weight: 500;
                    color: var(--txt-primary);
                }
                .description {
                    font-size: .9em;
                    color: var(--txt-secondary);
                    margin-bottom: 2em;
                }
            }
        }
        .showPage_information_Content {
            max-width: 600px;
        }
    }
}